@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #141212;
    font-family: inherit;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

header {
    display: flex;
    background-color: #046D9D;
}

h1 {
    align-self: center;
    margin-left: 2rem;
    color: #FFFFFF;
}

.search {
    margin: 3rem;
    margin-left: 1rem;
    background-color: transparent;
    border: 2px solid #e9e9ec;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #050505;
    outline: none;
}

div {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #2D2E34;
    border-radius: 10px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.movie img {
    width: 100%;
    display: block;
    transition: trasform 0.5s;
}

.movie-info {
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color:aqua;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.8rem;
}

.movie-info span.green {
    color: rgba(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgba(189, 42, 42);
}

.overview {
    background:linear-gradient(rgba(0,0,0,0.4),#e31b59);
    padding: 0 40px;
    color: #ffffff;
    border-radius: 5px;
    justify-content: center;
    font-size: 14px;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: 0.3s
}

.overview.show-overview {
    max-height: 100%;
    transform: translateY(0);
    transition: opacity0.5s ease-in-out,transform 0.5s ease-in-out;
}

.overview h3 {
    margin-top: 0;
}
.trailer-button{
    background-color: #046D9D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 0.9rem;
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}
.modal-content{
    background-color:#fff;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: #046D9D;
    color: #ffffff;
    font-size: 15px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
